.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  animation: App-logo-spin infinite 20s linear;
}

body {
  margin: 0;
  font-family: 'Helvetica Neue', Arial, sans-serif; /* Consistent font with the header */
  background-color: #e5dbd9; /* Light background for contrast with the header */
  color: #333; /* Dark gray color for general text */
  line-height: 1.6; /* Improve readability */
  font-size: 16px;
}

.main-content {
  padding: 20px;
  border: 1px solid #ccc;
  margin: 0 auto;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(8px + 1.5vmin);
  color: white;
  border-bottom: 3px solid #ccc;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Responsive design: Adjust header for smaller screens */
@media (max-width: 768px) {
  .App-header {
      padding: 15px;
      font-size: calc(7px + 2vmin) 
  }
  .main-content{
    padding: 15px;
  }

  header h1 {
      font-size: 0.5em; 
  }

  header nav a {
      margin: 0 10px;
  }

.boldText{
  font-weight: bold; 
}
}


