.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  animation: App-logo-spin infinite 20s linear;
}

body {
  margin: 0;
  font-family: 'Helvetica Neue', Arial, sans-serif; /* Consistent font with the header */
  background-color: #e5dbd9; /* Light background for contrast with the header */
  color: #333; /* Dark gray color for general text */
  line-height: 1.6; /* Improve readability */
  font-size: 16px;
}

.main-content {
  padding: 20px;
  border: 1px solid #ccc;
  margin: 0 auto;
}

.main-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.review-div {
  border: 1px solid black;
}

.hide {
  display: none;
}

.clear {
  float: none;
  clear: both;
}

.add-review-form {
  display: flex;
  flex-direction: column;
}

.rating {
    width: 90px;
    unicode-bidi: bidi-override;
    direction: rtl;
    text-align: center;
    position: relative;
}

.rating > label {
    float: right;
    display: inline;
    padding: 0;
    margin: 0;
    position: relative;
    width: 1.1em;
    cursor: pointer;
    color: #000;
}

.rating > label:hover,
.rating > label:hover ~ label,
.rating > input.radio-btn:checked ~ label {
    color: transparent;
}

.rating > label:hover:before,
.rating > label:hover ~ label:before,
.rating > input.radio-btn:checked ~ label:before,
.rating > input.radio-btn:checked ~ label:before {
    content: "\2605";
    position: absolute;
    left: 0;
    color: #FFD700;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(8px + 1.5vmin);
  color: white;
  border-bottom: 3px solid #ccc;
}

.loading-div {
  width: 100%;
  padding: auto;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Responsive design: Adjust header for smaller screens */
@media (max-width: 768px) {
  .App-header {
      padding: 15px;
      font-size: calc(7px + 2vmin) 
  }
  .main-content{
    padding: 15px;
  }

  header h1 {
      font-size: 0.5em; 
  }

  header nav a {
      margin: 0 10px;
  }

.boldText{
  font-weight: bold; 
}
}

.card{
  background-color: white;
  overflow: scroll;
  overflow-x: hidden;
  width: 60%;
  height: 50vh;
}

.inputs{
  justify-content: center;
  display: flex;
  gap: 20px;
  padding: 20px;


}
button{
  background-color: white;
}

.button-container{
  display: flex;
  flex-direction: column;
}

.not-enough{
  margin-top: 5px; 
}

